.modal__field {
    margin-bottom: 30px;
    min-height: 27px;
    border-bottom: 1px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    line-height: 17px;  
}